/*counterup*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
        
body {
  display: grid;
  place-items: center;
  background: #fafafa;
        }
        
.flex {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
        
.flex div {
  width: 150px;
  height: 150px;
  padding: 50px 0;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  background: #19f;
  color: #fff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}
/*animation*/
.box{
  min-height:200px;
}
/*aos*/
.box1{
  min-height:100px;
}